
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Open+Sans:wght@500;600;700;800&family=Poppins:ital,wght@0,100;0,500;0,800;0,900;1,500&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');

.navbar-pic{
    height: 40px;
}
.carousel-inner img {
    object-fit: cover;
    filter: brightness(50%);
   
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.311);
    color: #fff;
    top: 58%;
    transform: translateY(-110%);
    bottom: initial;
}
.icon{
    text-align: center;
    color: #ddb231b3;
    width: 100%;
    padding: 20px;
}
.welcome{
    background-color: #ddb231b3;
}

/* Coupon Section  */
.facilities{
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.cta{
   
    margin: 100px auto;
    width: 80%;
    background-color: #190f00;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 50px 0;
}
.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}

.menu-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}